!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Cleaner Energy
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Lobster&display=swap", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Montserrat&display=swap", rel: "stylesheet"}/
    %link{href: "style.css", rel: "stylesheet"}/
  %body
    .main_page
      .title_block
        .text_block
          %h1.main_title Birthday
          %h4.sub_title party
    .second_page
      .second_title
        %h3 What we do
      .cards_block
        .cards
          .card
            %img{alt: "", src: "https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/9c52733bd9c55bb4a7fb64ba/949561.png"}/
            %h5.img_title Animators
            %p.img_text Sample text. Click to select the Text Element.
          .card
            %img{alt: "", src: "https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/37c1465acde25ee083810c64/5222211.png"}/
            %h5.img_title Face painting
            %p.img_text Sample text. Click to select the Text Element.
          .card
            %img{alt: "", src: "https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/696f9ab75ce552319923daba/808439.png"}/
            %h5.img_title Games
            %p.img_text Sample text. Click to select the Text Element.
          .card
            %img{alt: "", src: "https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/e2bf04339e645b9b8a7cf2d0/1457948.png"}/
            %h5.img_title Quest
            %p.img_text Sample text. Click to select the Text Element.