*{
    margin: 0;
    padding: 0;
}

body{





}
.main_page{
    background-color: black;
    background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/ae4462f2c5695f6b8864d081/front-view-kid-wearing-party-hat_23-2149477945.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@mixin mainTitleColor($color){
    color: $color;
}
@mixin titles($padding, $font-size){
    padding-left: $padding !important;
    font-size: $font-size !important;
}
.title_block{
    position: absolute;
    background-color: #fff;
    top: 350px;
    height: 300px;
    width: 600px;
    border-radius: 0 3rem 3rem 0;
}
.text_block{
    padding-top: 40px;
}
.main_title{
    @include titles(120px, 80px);
    color: #ffc800;
    font-family: 'Lobster', cursive;
    letter-spacing: 6px;
}
.sub_title{
    @include titles(120px, 40px);
    font-family: 'Montserrat', sans-serif;

}
.second_page{
    height: 500px;
    background: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/e488fd2c86fc54058cb04108/Untitled-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cards_block{
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto;

}


.cards{

    display: flex;
    justify-content: space-between;
    
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.img_title{
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 2px;
}

.img_text{
    width: 200px;
    padding-top: 20px;
    text-align: center;
}